body 
{
    margin: 0px;;
    font-family: arial, arial, helvetica, sans-serif;
    background-color: #ffffff;
    background-image: url(degradeazul.png);
   
}

*
{
    box-sizing: border-box;
}
.container
{
    max-width: 9000px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #d1ddee;
    border-radius: 4px;
    box-shadow: 0 2px 5px, rgba(0,0,0,1);
    margin-top: 100px;
}
.logo img
{
    width: 500px;
    margin-bottom: 100px;
}
