body {
    background: #ECF1F7;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

*
.card {
    width: 1000px;
    height: 180px;
    border-radius: 5px;
    border: 1px solid #2F88FF;
    background: rgba(123, 178, 252, 0.15);
}

*

.card img { 
    border-radius: 35px;
    max-width: 270px;
    width: 270px;
    max-height: 178px;
    height: 179px;
}

*

.dropdown1 {
    background: #2F88FF99;
    width: 385px;
    height: 422px;
}