body {
    background: #ECF1F7;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

*
.card {
    width: 1000px;
    height: 180px;
    border-radius: 5px;
    border: 1px solid #2F88FF;
    background: rgba(123, 178, 252, 0.15);
}

*

.card img { 
    border-radius: 35px;
    max-width: 270px;
    width: 270px;
    max-height: 178px;
    height: 179px;
}

*

.card1 {
    border-radius: 0px;
    max-width: 305px;
    max-height: 53px;
}







.containerdropatv{
    margin: 10px;
    position: relative
    display: flex;
    width: 70%;
    margin: 0 auto; 
}


.containeratv {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.container{
    display: flex;
    width: 70%;
    margin: 0 auto; 
    }




.card2{
    max-width: 1500px;
    max-height: 90px;
}

.containercriar{
    margin-top: ;
    width: 1500px;
    height: 450px;
    border-radius: 35px;
    border: 1px solid #2F88FF;
    background: rgba(123, 178, 252, 0.15);
        }


.titulo{
    margin-top: -350px;
    margin-left: 50px;
    margin-right: 30px;
}

.datadrop{
    max-width: 1000px;
    max-height: 180px;
    margin-left: 315px;
    margin-right: 500px;
}

.desc{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 30px;
}




.tabela{
    background: #ffffff;
    margin-top: 10px;
    max-width: 1650px;
    max-height: 800px;
}



.containerturmas{
    background-color: rgb(227, 227, 227);
    width: 1700px;
    height: 520px;
}

.containervisaoturma{
    background-color: #CBCBCB;
    width: 1347px;
    height: 694px;
    flex-shrink: 0;
}

.inputdata{
    background-color: whitesmoke;
    max-width: 1295px;
    max-width: 68px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;

}

.formbranco{
    width: 1295px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 5px;
    color: #FFF;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.formcinza{
    width: 1295px;
    height: 68px;
    border-radius: 5px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.70);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.tabeladatas{
    width: 1295px;
    height: 68px;
    border-radius: 5px;
    flex-shrink: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

