body {
    background: #ECF1F7;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
*

.card {
    width: 800px;
    height: 180px;
    border-radius: 35px;
    border: 1px solid #2F88FF;
    background: rgba(123, 178, 252, 0.15);
}

.card img {
    object-fit: fill;
    max-width: 800px;
    width: auto;
    max-height: 180px;
    height: auto;
}