.containerreg {
    background-color: #CBCBCB;
    width: 1347px;
    height: 705px;
    flex-shrink: 0;
}

.tituloreg {
    width: 1305px;
    height: 70px;
    background-color: #FFFFFF;
    color: #4190FB;
}

.containercentro {
    width: 1305px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.70);
    color: #000;
    text-align: center;
}

.containerlink {
    margin-top: 10px;
    width: 1305px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.70);
    text-align: center;
}