 .button {
	padding: 10px;
	float: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #2F88FF;
  border-right-color: #2F88FF;
	border-bottom-color: #2F88FF;
	border-left-color: #2F88FF;
	color: #2F88FF;
	margin-left: 20px;
}
.botao:hover{
	color: #330000;
	background-color: #FFFFFF;
	/*CSS 3*/
	border-radius: 10px 0px 10px 0px;
 }

 .table {
  display: flex;
 }
