body 
{
    margin: 0px;;
    font-family: arial, arial, helvetica, sans-serif;
    background-color: #dbe5f1;
    background-image: url(teladefundo.png);
}

*
{
    box-sizing: border-box;
}
.container
{
    max-width: 1800px;
    max-height: 800px;
    margin: 0px;
    padding: 100px;
    text-align: center;
    background-color: #dbe5f1;
    border-radius: 4px;
    box-shadow: 0 2px 5px, rgba(0,0,0,1);
}
.logo img
{
    width: 500px;
    margin-bottom: 100px;
}

.login{
    width: 800px;
    height: 65px;
    background-color: #6eadff;
}

.infos{
    width: 800px;
    margin-left: 265px;
}